.header {
  height: 100vh;
  background-color: #181818;
  display: flex;
}
.header img {
  width: 60%;
  height: 100%;
}

.header-hero {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
.header-hero h1 {
  font-size: 50px;
}
.header-hero p {
  font-size: 15px;
}
.header-hero .hero-button {
  display: flex;
  justify-content: center;
}
.header-hero .hero-button button {
  border: solid 2px white;
  background: transparent;
  color: white;
}
.header-hero .hero-button button:hover {
  background-color: white;
  color: black;
}